.img-thumbnail {
  padding: 2.25rem !important;
  background-color: #fbfbfb !important;
  border-radius: 100%;
  margin-right: 5%;
}
.txt-start {
  text-align: start;
}
.align-center {
  align-items: center;
}
