<div class="home-section">
  <nav>
    <div class="logosec">
      <div class="logo_name"><i class="bx bxl-c-plus-plus"></i> ITSM</div>
      <i class="bx bx-list-ul icn" (click)="dashboardToggel()"></i>
    </div>

    <div class="search-box">
      <input type="text" placeholder="Search Tickets ID,Group" />
      <i class="bx bx-search"></i>
    </div>

    <div class="message">
      <div class="circle"></div>

      <i class="bx bx-bell icn"></i>

      <div class="dp">
        <img
          src="../../../../assets/profile-images/team-2.jpg"
          class="dpicn"
          alt="dp"
        />
      </div>
    </div>
  </nav>
</div>
