<!-- <app-header></app-header> -->
<!-- <app-sidebar class="sidebar"></app-sidebar> -->
<div class="page-wrapper page-container">
  <div class="main-panel">
    <div class="content-wrapper">
      <!-- Page Title-->
      <div class="page-title-heading mb-16">
        <h1>Custom Field</h1>
      </div>

      <mat-card class="example-card box-continer-whole page-steper">
        <mat-card-header class="borderB flex-f">
          <div class="search-box" style="flex-grow: 2">
            <input type="text" placeholder="Search User" />
            <i class="bx bx-search"></i>
          </div>
          <div style="flex-grow: 8; display: flex; justify-content: end">
            <button type="button" class="btn btn-secondary btn-sm">
              <span class="bx bx-download"></span>&nbsp;Download CSV
            </button>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <span class="bx bx-plus-circle"></span>&nbsp;Add Custom Field
            </button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Sr No</th>
                <th>Label</th>
                <th>Categories</th>
                <th>Type</th>
                <th>Option</th>
                <th>Required</th>
                <th>API Based</th>
                <th>Order</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Hardware Issue Type</td>
                <td>
                  <ul>
                    <li>Client Register From</li>
                    <li>Information Technology (IT)</li>
                    <li>Sample Collection Facility (SCF)</li>
                    <li>All Category-</li>
                    <li>Test Master</li>
                  </ul>
                </td>
                <td>Dropdown</td>
                <td>Service Request,Incident,IMAC,SOD</td>
                <td>Yes</td>
                <td>No</td>
                <td>
                  <div
                    class="input-group w-auto justify-content-end align-items-center"
                  >
                    <input
                      type="number"
                      step="1"
                      max="10"
                      value="1"
                      name="quantity"
                      class="quantity-field border-0 text-center w-25"
                    />
                  </div>
                </td>
                <td class="text-danger">incative</td>
                <td>
                  <a href="#"
                    ><i class="bx bx-edit icon-size" alt="Edit" title="Edit"></i
                  ></a>
                  <a href="#"
                    ><i
                      class="bx bx-trash icon-size"
                      alt="Trash"
                      title="Trash"
                    ></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                New Custom Field
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container text-center">
                <mat-card-content>
                  <div class="row align-items-start">
                    <div class="col">
                      <div class="tagus-form-group">
                        <label class="d-block fw-semibold color-black txt-start"
                          >Field Label</label
                        >
                        <mat-form-field class="tagus-form-group mt-20">
                          <input
                            matInput
                            placeholder="Field Label"
                            formControlName="FieldLabel"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                      <div class="tagus-form-group">
                        <label class="d-block fw-semibold color-black txt-start"
                          >Help Text</label
                        >

                        <textarea
                          class="form-control"
                          placeholder="Help Text"
                          id="floatingTextarea2"
                          style="height: 100px"
                        ></textarea>
                        <small
                          >The text will appear after the field and you can also
                          use a link in this box. (Use class popupformWIF or
                          popupform to show in modal)</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-start margin-tb">
                    <div class="col">
                      <div class="tagus-form-group">
                        <label class="d-block fw-semibold color-black txt-start"
                          >Choose Type or Category</label
                        >
                        <mat-form-field class="tagus-form-group mt-20">
                          <select>
                            <option value="Selet All">Select All</option>
                            <option value="Bin Owner Wise">
                              Bin Owner Wise
                            </option>
                            <option value="Open For Everyone">
                              Open For Everyone
                            </option>
                          </select>
                        </mat-form-field>
                        <small
                          >If you choose this then this field will be displayed
                          on choosen category only</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-start margin-tb">
                    <div class="col">
                      <div class="tagus-form-group">
                        <label class="d-block fw-semibold color-black txt-start"
                          >Type
                        </label>
                        <mat-radio-group
                          aria-label="Select an option"
                          style="float: left"
                        >
                          <mat-radio-button value="1"
                            >Text Box</mat-radio-button
                          >
                          <mat-radio-button value="2"
                            >Numberic</mat-radio-button
                          >
                          <mat-radio-button value="3">Date</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
